<div class="ui piled segment">
  <h4>
    <i class="comment icon"></i>
    <span class="user">
      <%= comment.user.name %>
    </span>

    <i class="calendar icon"></i>
    <span class="calendar">
      <%= l(comment.created_at, format: :long) %>
    </span>

    <%= link_to [comment.post, comment],
            method: :delete,
            data: {
              header: t('views.defaults.attention'),
              confirm: t('views.defaults.destroy_confirmation', target: comment.content),
              cancel: t('views.defaults.cancel'),
              ok: t('views.defaults.yes') },
            class: "ui red mini button" do %>
        <i class="trash icon"></i>
        <%= t('views.defaults.delete') %>
    <% end  if logged_in? && current_user == comment.user %>

  </h4>
  <p><%= comment.content %></p>
</div>

