<h1><%= User.model_name.human %></h1>

<%= render 'partials/error_messages', object: @user %>

<%= form_for @user, html: { class: 'ui form' } do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :whoami %>
    <%= f.text_area :whoami %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit nil, class: 'ui teal button' %>
<% end %>
