<h1><%= User.model_name.human(:count => 2) %></h1>
<%= link_to new_user_path, class: 'ui teal button' do %>
  <i class="write icon"></i>
  <%= t('views.defaults.new') %>
<% end %>
<table class="ui selectable striped table">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= t('views.defaults.actions') %></th>
    </tr>
  </thead>
  <% @users.each do |user| %>
    <tr>
      <td><i class="user icon"></i><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= render 'partials/dropdown_actions', object: user %></td>
    </tr>
  <% end %>
</table>
