<h1><%= User.model_name.human %></h1>
<h3><%= User.human_attribute_name(:name) %></h3>
<p><%= @user.name %></p>

<h3><%= User.human_attribute_name(:whoami) %></h3>
<p><%= @user.whoami %></p>

<h3><%= User.human_attribute_name(:email) %></h3>
<p><%= @user.email %></p>

<h3><%= User.human_attribute_name(:created_at) %></h3>
<p><%= l(@user.created_at) %></p>

<h3><%= User.human_attribute_name(:updated_at) %></h3>
<p><%= l(@user.updated_at) %></p>

<p>
  <%= render 'partials/show_buttons', object: @user %>
</p>
