<h1><%= Post.model_name.human %></h1>

<%= render 'partials/error_messages', object: @post %>

<%= form_for @post, html: { class: 'ui form' } do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.select :category_id,
          Category.all.collect {|c| [c.name, c.id] },
          { include_blank: true } %>
  </div>

  <%= render 'partials/new_edit_delete_buttons', form: f, object: @post %>
<% end %>
