<h1><%= Post.model_name.human(:count => 2) %></h1>
<%= render 'partials/new_button', object: Post %>
<div class="ui items">
  <% @posts.each do |post| %>
  <div class="item">
    <div class="content">
      <i class="book icon"></i>
      <%= link_to post.title, post_path(post), class: 'header' %>
      <div class="description">
        <i class="folder icon"></i>
        <%= post.category.name %>
        <i class="calendar icon"></i>
        <%= "#{t('views.defaults.ago')} #{time_ago_in_words(post.created_at)}" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
