<h1><%= Post.model_name.human(:count => 2) %></h1>
<%= button_to t('views.defaults.new'), new_post_path, icon: 'book' if logged_in? %>
<div class="ui items">
  <% @posts.each do |post| %>
  <div class="ui raised segment">
    <div class="content">
      <i class="circular book icon"></i>
      <%= link_to post.title, post_path(post), class: 'header' %>
      <div class="description">
        <%= link_to post.category.name, category_posts_path(post.category),
                                        class: 'ui blue mini tag label' %>
        <i class="calendar icon"></i>
        <%= "#{t('views.defaults.ago')} #{time_ago_in_words(post.created_at)}" %>
      </div>
    </div>
  </div>
  <% end %>
  <%= paginate @posts %>
</div>
