<article class="ui raised segment">
  <header>
    <h3>
      <i class="book icon"></i>
      <%= @post.title %>
    </h3>
  </header>
  <section>
    <p><%= @post.content %></p>
    <p>
      <span id="post-author">
        <i class="user icon"></i>
        <%= "#{t('views.defaults.author')}: #{@post.user.name} " %>
      </span>

      <span id="post-calendar">
        <i class="calendar icon"></i>
        <%= l(@post.created_at, format: :long) %>
      </span>
    </p>
    <p>
      <%= render 'partials/show_buttons', object: @post %>
    </p>
  </section>
</article>

<h5>
  <% total_comments = @post.comments.count %>
  <span class="ui label">
    <i class="comments icon"></i>
    <span id="total"><%= total_comments %></span>
  </span>

  <span>
    <%= Comment.model_name.human(count: total_comments) %>
  </span>
</h5>

<% if logged_in? %>
  <%= render 'comments/form' %>
<% else %>
  <%= button_to(t('views.login.to_comment'), login_path,
                                             icon: 'sign in',
                                             class: 'ui teal mini button')
                                              %>
<% end %>

<div class="ui divider"></div>
<div id="comment-message"></div>
<div id="comments"></div>
<%= render @post.comments %>
