<article>
  <header>
    <h3>
      <i class="book icon"></i>
      <%= @post.title %>
    </h3>
  </header>
  <section>
    <p><%= @post.content %></p>
    <p>
      <span>
        <i class="user icon"></i>
        <%= "#{t('views.defaults.author')}: #{@post.user.name} " %>
      </span>

      <span>
        <i class="calendar icon"></i>
        <%= l(@post.created_at, format: :long) %>
      </span>
    </p>
    <p>
      <%= link_to posts_path, class: 'ui teal button' do %>
        <i class="arrow left icon"></i>
        <%= t('views.defaults.back') %>
      <% end %>

      <%= link_to edit_post_path(@post), class: 'ui teal button' do %>
        <i class="edit icon"></i>
        <%= t('views.defaults.edit') %>
      <% end %>

      <%= link_to post_path(@post),
                          method: :delete,
                          data: { confirm: t('views.defaults.confirm') },
                          class: 'ui teal button' do %>
          <i class="erase icon"></i>
          <%= t('views.defaults.delete') %>
      <% end %>
    </p>
  </section>
</article>
