<article>
  <header>
    <h3><%= @post.title %></h3>
  </header>
  <section>
    <p><%= @post.content %></p>
    <p>
      <span><%= "#{t('views.defaults.author')}: #{@post.user.name} | " %></span>
      <span><%= l(@post.created_at, format: :long) %></span>
    </p>
    <p>
      <span><%= link_to t('views.defaults.back'), posts_path %></span>
      <span><%= link_to t('views.defaults.edit'), edit_post_path(@post) %></span>
      <span><%= link_to t('views.defaults.delete'), post_path(@post),
                          method: :delete,
                          data: { confirm: t('views.defaults.confirm') }
                          %></span>
    </p>
  </section>
</article>
