<article class="ui raised segment">
  <header>
    <h3>
      <i class="book icon"></i>
      <%= @post.title %>
    </h3>
  </header>
  <section>
    <p><%= @post.content %></p>
    <p>
      <span id="post-author">
        <i class="user icon"></i>
        <%= "#{t('views.defaults.author')}: #{@post.user.name} " %>
      </span>

      <span id="post-calendar">
        <i class="calendar icon"></i>
        <%= l(@post.created_at, format: :short) %>
      </span>
    </p>
    <p>
      <%= render 'partials/show_buttons', object: @post %>
    </p>
  </section>
</article>

<h5>
  <% total_comments = @post.comments.count %>
  <span class="ui label">
    <i class="comments icon"></i>
    <%= total_comments %>
  </span>
  <%= Comment.model_name.human(count: total_comments) %>
</h5>

<div class="ui divider"></div>

<%= render @post.comments %>
