<h1><%= Category.model_name.human %></h1>

<% if @category.errors.any? %>
  <p>
  <%= t('errors.template.header',
          model: Category.model_name.human,
          count: @category.errors.count ) %>
  </p>
  <p>
    <%= t('errors.template.body') %>
    <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<%= form_for @category do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

  <%= f.submit %>
<% end %>
