<h1><%= Category.model_name.human(:count => 2) %></h1>
<%= link_to t('views.defaults.new'), new_category_path, class: 'new' %>
<table>
  <tr>
    <td><%= Category.human_attribute_name(:name) %></td>
    <td><%= Category.human_attribute_name(:description) %></td>
    <td colspan="3"><%= t('views.defaults.actions') %></td>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td><%= link_to t('views.defaults.show'), category,
              :class => 'show' %></td>
      <td><%= link_to t('views.defaults.edit'),
              edit_category_path(category) %></td>
      <td><%= link_to t('views.defaults.delete'),
              category_path(category),
              method: :delete,
              data: { confirm: t('views.defaults.confirm') }
           %></td>
    </tr>
  <% end %>
</table>
