<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <% if logged_in? %>
      <span><%= current_user.name %></span>
      <%= link_to t('views.defaults.logout'), logout_path,  method: 'delete' %>
    <% else %>
      <%= link_to t('views.defaults.login'), login_path %>
    <% end %>
  </div>
  <p>
    <% flash.each do |type, message| %>
      <%= message %>
    <% end %>
  </p>

<%= yield %>

</body>
</html>
