<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui inverted menu">
    <%= link_to 'Blog Rails', root_path, class: 'header item' %>

    <a href="//github.com/achambel/blog-rails" class="ui item black button" title="<%= t('views.defaults.show_in_github') %>">
          <i class="github icon"></i>
    </a>
    <% if logged_in? %>
      <%= link_to Category.model_name.human(:count => 2),
                    categories_path, class: 'item' %>
      <%= link_to User.model_name.human(:count => 2),
                    users_path, class: 'item' %>
    <% end %>
    <div class="right menu">
      <div class="item">
        <div class="ui transparent inverted icon input">
          <i class="search icon"></i>
          <input type="text" placeholder="Search">
        </div>
      </div>
      <% if logged_in? %>
        <div class="ui labeled icon simple dropdown black button">
          <i class="user icon"></i>
          <span class="text"><%= current_user.name %></span>
          <div class="menu">
            <%= link_to logout_path,  method: 'delete', class: 'item' do %>
              <i class="sign out icon"></i>
              <%= t('views.login.logout') %>
            <% end %>
          </div>
        </div>

      <% else %>
        <div class="item">
          <i class="sign in icon"></i>
          <%= link_to t('views.login.login'), login_path %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="ui main text container">
    <% icons = {success: 'smile', error: 'frown', info: 'info', warning: 'warning'} %>
    <% flash.each do |type, message| %>
      <%= content_tag :div, nil, class: "ui icon #{type} message" do %>
        <%= content_tag :i, nil, class: "#{icons[type.to_sym]} sign icon" %>
        <%= content_tag :div, message, class: "content" %>
      <% end %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
