<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui inverted menu">
    <%= link_to 'Blog Rails', root_path, class: 'header item' %>
    <div class="right icon menu">
      <% if logged_in? %>
        <div class="item">
          <i class="user icon"></i>
          <span><%= current_user.name %></span>
          <i class="sign out icon"></i>
          <%= link_to t('views.login.logout'), logout_path,  method: 'delete' %>
        </div>

      <% else %>
        <div class="item">
          <i class="sign in icon"></i>
          <%= link_to t('views.login.login'), login_path %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="ui main text container">
    <% flash.each do |type, message| %>
      <%= content_tag :div, nil, class: "ui icon #{type} message" do %>
        <%= content_tag :i, nil, class: "#{type} sign icon" %>
        <%= content_tag :div, message, class: "content" %>
      <% end %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
